{extend name="base/main"}
{block name="body"}
{include file='base/top' /}
<style type="text/css">
    .name, .price{
        text-indent: 25px!important;
    }
    .ss_list{
        background: none;
    }
    .fresh_mid{
        width: 989px;
    }
</style>
<!--Begin Header Begin-->

<!--End Menu End-->
<div class="i_bg bg_color">
	<div class="i_ban_bg">
		<!--Begin Banner Begin-->
    	<div class="banner">
            <div class="top_slide_wrap">
                <ul class="slide_box bxslider">
                    <li><img src="{$static}/images/ban1.jpg" width="740" height="401" /></li>
                    <li><img src="{$static}/images/ban1.jpg" width="740" height="401" /></li>
                    <li><img src="{$static}/images/ban1.jpg" width="740" height="401" /></li>
                </ul>
                <div class="op_btns clearfix">
                    <a href="#" class="op_btn op_prev"><span></span></a>
                    <a href="#" class="op_btn op_next"><span></span></a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        (function(){
            $(".bxslider").bxSlider({
                auto:true,
                prevSelector:jq(".top_slide_wrap .op_prev")[0],nextSelector:jq(".top_slide_wrap .op_next")[0]
            });
        })();
        </script>
        <!--End Banner End-->
        <div class="inews">
        	<div class="news_t">
            	<span class="fr"><a href="#">更多 ></a></span>新闻资讯
            </div>
            <ul id="news_title">
            	<!-- <li><span>[ 特惠 ]</span><a href="#">掬一轮明月 表无尽惦念</a></li>
            	<li><span>[ 公告 ]</span><a href="#">好奇金装成长裤新品上市</a></li>
            	<li><span>[ 特惠 ]</span><a href="#">大牌闪购 · 抢！</a></li>
            	<li><span>[ 公告 ]</span><a href="#">发福利 买车就抢千元油卡</a></li>
            	<li><span>[ 公告 ]</span><a href="#">家电低至五折</a></li> -->
            </ul>
        </div>
    </div>
    <!--Begin 热门商品 Begin-->
    <div class="content mar_10">
    	<!-- <div class="h_l_img">
        	<div class="img"><img src="{$static}/images/l_img.jpg" width="188" height="188" /></div>
            <div class="pri_bg">
                <span class="price fl">￥53.00</span>
                <span class="fr">16R</span>
            </div>
        </div> -->
        <!-- <div class="hot_pro">
        	<div id="featureContainer">
                <div id="feature">
                    <div id="block">
                        <div id="botton-scroll">
                            <ul class="featureUL">
                                <li class="featureBox">
                                    <div class="box">
                                    	<div class="h_icon"><img src="{$static}/images/hot.png" width="50" height="50" /></div>
                                        <div class="imgbg">
                                        	<a href="#"><img src="{$static}/images/hot1.jpg" width="160" height="136" /></a>
                                        </div>
                                        <div class="name">
                                        	<a href="#">
                                            <h2>德国进口</h2>
                                            德亚全脂纯牛奶200ml*48盒
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>189</span></font> &nbsp; 26R
                                        </div>
                                    </div>
                                </li>
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="{$static}/images/hot.png" width="50" height="50" /></div>
                                        <div class="imgbg">
                                        	<a href="#"><img src="{$static}/images/hot2.jpg" width="160" height="136" /></a>
                                        </div>
                                        <div class="name">
                                        	<a href="#">
                                            <h2>iphone 6S</h2>
                                            Apple/苹果 iPhone 6s Plus公开版
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>5288</span></font> &nbsp; 25R
                                        </div>
                                    </div>
                                </li>
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="{$static}/images/hot.png" width="50" height="50" /></div>
                                        <div class="imgbg">
                                        	<a href="#"><img src="{$static}/images/hot3.jpg" width="160" height="136" /></a>
                                        </div>
                                        <div class="name">
                                        	<a href="#">
                                            <h2>倩碧特惠组合套装</h2>
                                            倩碧补水组合套装8折促销
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>368</span></font> &nbsp; 18R
                                        </div>
                                    </div>
                                </li>
                                <li class="featureBox">
                                    <div class="box">
                                        <div class="h_icon"><img src="{$static}/images/hot.png" width="50" height="50" /></div>
                                        <div class="imgbg">
                                        	<a href="#"><img src="{$static}/images/hot4.jpg" width="160" height="136" /></a>
                                        </div>
                                        <div class="name">
                                        	<a href="#">
                                            <h2>品利特级橄榄油</h2>
                                            750ml*4瓶装组合 西班牙原装进口
                                            </a>
                                        </div>
                                        <div class="price">
                                            <font>￥<span>280</span></font> &nbsp; 30R
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="h_prev" href="javascript:void();">Previous</a>
                    <a class="h_next" href="javascript:void();">Next</a>
                </div>
            </div>
        </div> -->
    </div>
    <div class="content mar_20">
    	<img src="{$static}/images/mban_1.jpg" width="1200" height="110" />
    </div>
    <div class="floorContainer"></div>

    <script type="text/javascript">
        $(function(){
            // getType();  // 获取商品种类
            getFloor(); // 获取楼层商品
            getNews(); // 获取文章
        });

        /**
         * 获取商品种类
         * @return {[json]}
         */
        function getType(){
            $.ajax({
                type: 'post',
                url:  'api.php/Index/getType',
                dataType: 'json',
                success: function(ret){
                    // console
                    var html = '';
                    var up_type = ret.data.up_type;
                    var down_type = ret.data.down_type;
                    if(ret.status == 1){
                        for(var i in up_type){

                            html += '<li>';
                            html +=     '<div class="fj">';
                            html +=         '<span class="n_img"><span></span><img src="{$static}/images/nav3.png" /></span>';
                            html +=         '<span class="fl">'+up_type[i].title+'</span>'
                            html +=     '</div>';
                            if(i != 0){
                                html +=     '<div class="zj" style="top:-'+40*i+'px;">';
                            }else{
                                html +=     '<div class="zj">';
                            }
                            html +=         '<div class="zj_l">';
                            html +=             '<div class="zj_l_c">';
                            for(var j in down_type){
                            html +=                 '<h2>';
                            html +=                     down_type[j].title+'/';
                            html +=                 '</h2>';
                            }
                            html +=             '</div>';


                            html +=         '</div>';
                            html +=     '</div">';

                            html += '</li>';
                        }
                        $('.leftNavUl').append(html);
                    }
                }
            });
        }

        /**
         * [getFloor 获取楼层商品]
         * @return {[json]}
         */
        function getFloor(){
            $.ajax({
                type: 'post',
                url: '/api.php/Index/getFloor',
                dataType: 'json',
                success: function(ret){
                    var html = '';
                    var countFloor = 0;
                    var data      = ret.data.goods;
                    var data_type = ret.data.goods_type;
                    // var moreUrl = '/Goods/searchList/type/';
                    // console.log(data);
                    // console.log(data_type);
                    if(ret.status == 1){
                        for(var i in data_type){
                            if(data_type[i].pid == 0){
                                countFloor+=1;
                                html += '<div class="showFloor">';
                                html +=     '<div class="i_t mar_10">';
                                html +=         '<span class="floor_num">'+countFloor+'F</span>';
                                html +=         '<span class="fl">'+ data_type[i].title +'</span>';
                                html +=         '<span class="i_mores fr"><a href="/Goods/searchList/type/'+data_type[i].id+'">更多</a></span>';
                                html +=     '</div>';
                                html +=     '<div class="content">';
                                html +=         '<div class="fresh_left">';
                                html +=             '<div class="fre_ban">';
                                html +=                         '<a href="#"><img src="{$static}/images/fre_r.jpg" width="211" height="286" /></a>';
                                html +=             '</div>';
                                html +=             '<div class="fresh_txt">';
                                html +=                 '<div class="fresh_txt_c">';
                                                        for(var k in data_type){
                                                            if(data_type[k].pid == data_type[i].id){
                                                                if(k<10){
                                html +=                             '<a href="/Goods/searchList/type/'+data_type[k].id+'">'+data_type[k].title+'</a>';
                                                                }else{
                                                                    break;
                                                                }
                                                            }
                                                        }
                                html +=                 '</div>';
                                html +=             '</div>';
                                html +=         '</div>';
                                html +=         '<div class="fresh_mid">';
                                html +=             '<ul>';
                                var count = 0;
                                for(var j in data){
                                    if(count > 6){
                                        break;
                                    }
                                    // var url = '{:url("Goods/goodsDetail")}'+'?gid='+data[j].gid;
                                    // var url_gid = getEncode(data[j].gid);
                                    // console.log(url_gid);

                                    if(data[j].gType == data_type[i].id){
                                        var url_gid = getEncode(data[j].gid);
                                        var url = '{:url("Goods/goodsDetail")}'+'?gid='+url_gid;
                                        count++;
                                        html +=             '<li>';
                                        html +=                 '<div class="name"><a href="'+url+'">'+data[j].gTitle+'</a></div>';
                                        html +=                 '<div class="price">';
                                        html +=                     '<font>￥<span>'+data[j].gPrice+'</span></font></div>';
                                        html +=                 '<div class="img"><a href="'+url+'"><img src="'+data[j].thumb+'" width="185" height="155" /></a></div>'
                                        html +=             '</li>'
                                    }
                                }
                                html +=             '</ul>'
                                html +=         '</div>';
                                html +=     '</div>';
                                html += '</div>';
                            }
                        }
                    }
                    $('.floorContainer').append(html);
                }
            })
        }

        /**
         * 获取文章记录
         */
        function getNews(){
            $.ajax({
                type: 'get',
                url: '/api.php/Index/newsDataTitle',
                dataType: 'json',
                success: function(ret){
                    if(ret.code == 1){
                        var html = '';
                        console.log(ret.msg);
                        for(var i in ret.msg){
                            var id = getEncode(ret.msg[i].id);
                            var url = '{:url("Index/newsDetail")}'+"?id="+id;
                            var title = ret.msg[i].title;
                            if(title.length > 6){
                                title = title.substr(0, 6)+'...';
                            }
                            html+= '<li><span>[ 特惠 ]</span><a href="'+url+'">'+title+'</a></li>'
                        }
                        $('#news_title').append(html);
                    }
                }
            });
        }

        /**
         * 获取加密
         * @param  {[type]} value [description]
         * @return {[type]}       [description]
         */
        function getEncode(value){
            var msg = '';
            $.ajax({
                type: 'post',
                data: {'value': value},
                dataType: 'json',
                async: false,
                url : '/api.php/Index/encodes',
                success: function(ret){
                    if(ret.code == 1){
                        msg = ret.msg;
                    }
                }
            });
            return msg;
        }
    </script>
    <!--Begin Footer Begin -->
    {include file='base/footer' /}
    <!--End Footer End -->
</div>

{/block}
