{extend name="base/main"}
{block name="body"}
<style type="text/css">
    .soubg{
        min-width: unset;
    }
    .sou{
        width: auto;
    }
    .container{
        margin-top: 20px;
    }
    .left_div{
        width: 70%;
        padding-left: 200px;
    }
    .right_div{
        display: inline-block;
        width: 12%;
        border: 1px solid #d9d9d9;
        padding: 10px;
    }
    .right_div ul li{
        height: 30px;
        line-height: 30px;
        color: #888;
    }
    .right_div ul li:hover{
        color: red;
        cursor: pointer;
    }
    .new_title{
        text-align: center;
        font-size: 20px;
    }
    .read_count{
        text-align: center;
    }
    .new_content img{
        width: 50%
    }
</style>

<div class="soubg">
    <div class="sou">
        <span class="fr">
            <span class="fl">
                你好，
                {if condition="(!empty($info))"}
                    欢迎&nbsp;{$info.username}&nbsp;
                    <a href="{:url('AuthMember/logout')}" style="color:#ff4e00;">退出登录</a>&nbsp;|&nbsp;
                    {else /}
                    请<a href="{:url('AuthMember/login')}">登录</a>
                    <a href="{:url('AuthMember/register')}" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;
                {/if}
                
                <a href="{:url('Goods/myOrder')}">我的订单</a>&nbsp;|
                <a href="{:url('Goods/listCart')}">购物车</a>&nbsp;|
            </span>
            <span class="fl">&nbsp;关注我：</span>
            <span class="s_sh"><a href="#" class="sh2">微信</a></span>
        </span>
    </div>
</div>

<div class="container">
    <div class="fl left_div">
        <div class="new_title">{$data.title}</div>
        <div class="read_count">阅读量：{$data.show_count}</div>
        <div class="new_content">{$data.content}</div>
    </div>
    <div class="fr right_div">
        <ul class="fl">
            {foreach name="list" item="v"}
                <li><a href="{:url('Index/newsDetail',['id'=>think_encrypt($v['id'], config('url_key'))])}">{$v.title|substr=0,26}...</a></li>
            {/foreach}
        </ul>
    </div>
</div>

<div class="i_bg bg_color">

    <script type="text/javascript">

    </script>
</div>

{/block}
