{extend name="base/main"}
{block name="body"}
{include file='base/top' /}
<script type="text/javascript" src="{$static}/js/n_nav.js"></script>
<style>
    .leftNav{
        display: none;
    }
	.l_list{
		width: 1181px;
	}
	.n_ch a{
		margin-top: 0px;
		overflow: unset;
	}
	
    .cate_list li{
        height: 260px!important;
    }
</style>
<div class="i_bg">
	<div class="postion">
    	<!-- <span class="fl">全部 > 美妆个护 > 香水 > </span> -->
        <span class="n_ch">
            {if condition="(isset($search))"}
                <span class="fl">名称：<font>{$search}</font></span>
            {else /}
                <span class="fl">种类：
                    <font>
                        {foreach name="up_type" item="ut"}
                            {if condition="($up_type[$key]['id'] eq $type)"}
                                {$up_type[$key]['title']}
                            {/if}
                        {/foreach}
                        {foreach name="down_type" item="dt"}
                            {if condition="($down_type[$key]['id'] eq $type)"}
                                {$down_type[$key]['title']}
                            {/if}
                        {/foreach}
                    </font>
                </span>
            {/if}
            
            <a href="{:url('Index/index')}"><img src="{$static}/images/s_close.gif" /></a>
        </span>
    </div>
    <!--Begin 筛选条件 Begin-->
    <div class="content mar_10">
    	<table border="0" class="choice" style="width:100%; font-family:'宋体'; margin:0 auto;" cellspacing="0" cellpadding="0">
          <!-- <tr valign="top">
            <td width="70">&nbsp; 品牌：</td>
            <td class="td_a"><a href="#" class="now">香奈儿（Chanel）</a><a href="#">迪奥（Dior）</a><a href="#">范思哲（VERSACE）</a><a href="#">菲拉格慕（Ferragamo）</a><a href="#">兰蔻（LANCOME）</a><a href="#">爱马仕（HERMES）</a><a href="#">卡文克莱（Calvin Klein）</a><a href="#">古驰（GUCCI）</a><a href="#">宝格丽（BVLGARI）</a><a href="#">阿迪达斯（Adidas）</a><a href="#">卡尔文·克莱恩（CK）</a><a href="#">凌仕（LYNX）</a><a href="#">大卫杜夫（Davidoff）</a><a href="#">安娜苏（Anna sui）</a><a href="#">阿玛尼（ARMANI）</a><a href="#">娇兰（Guerlain）</a></td>
          </tr> -->
          <!-- <tr valign="top">
            <td>&nbsp; 价格：</td>                                    
            <td class="td_a"><a href="#">0-199</a><a href="#" class="now">200-399</a><a href="#">400-599</a><a href="#">600-899</a><a href="#">900-1299</a><a href="#">1300-1399</a><a href="#">1400以上</a></td>
          </tr>   -->                                                   
        </table>                                                                                 
    </div>
    <!--End 筛选条件 End-->
    
    <div class="content mar_20">        	
        <div class="l_list" style="width: 1200px;">
        	<div class="list_t">
            	<span class="fl list_or">
                	<a href="{:url('Goods/searchList', ['search'=>$search, 'type'=>$type])}" class="normal_class now">默认</a>
                    <a class="price_order" href="{:url('Goods/searchList', ['price'=>'asc', 'search'=>$search, 'type'=>$type])}">
                    	<span class="fl">价格</span>                        
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>     
                    </a>
                </span>
                <span class="fr">共发现<?php echo count($list); ?>件</span>
            </div>
            <div class="list_c">
                <ul class="cate_list">
                    {if condition="(empty($list))"}
                    暂时没有商品
                    {else /}
                	{foreach name="list" item="li"}
                        <li attr_gid = {$li.gid} class="toGoodsDetail">
                            <div class="img">
                                <a href="#"><img src="{$li.thumb}" width="210" height="185" /></a>
                            </div>
                            <div class="price">
                                <font>￥<span>{$li.gPrice}</span></font>
                            </div>
                            <div class="name"><a href="#">{$li.gTitle}</a></div>
                        </li>   
                	{/foreach}
                    {/if}
                </ul>
                
                <!-- <div class="pages">
                	<a href="#" class="p_pre">上一页</a><a href="#" class="cur">1</a><a href="#">2</a><a href="#">3</a>...<a href="#">20</a><a href="#" class="p_pre">下一页</a>
                </div> -->
            </div>
        </div>
    </div>
    
    <script>
        $('.toGoodsDetail').click(function(){
            var gid = $(this).attr('attr_gid');
            var url = '{:url("Goods/goodsDetail")}'+'?gid='+gid;
            window.open(url, '_blank');
        });
    </script>
{include file='base/footer' /}
{/block}