{extend name="base/auth_member_main"}
{block name="body"}
<style type="text/css">
    .log_c{
        height: 415px;
    }
</style>
<!--Begin Login Begin-->
<div class="log_bg">    
    <div class="top">
        <div class="logo"><a href="Index.html"><img src="{$static}/images/logo.png" /></a></div>
        <div class="div_show_s"><img src="{$static}/images/wx.jpg" width="120px" height="120px;"></div>
    </div>
    <div class="login">
        <div class="log_img"><img src="{$static}/images/l_img.png" width="611" height="425" /></div>
        <div class="log_c">
            <form id="loginForm">
                <table border="0" style="width:370px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="55">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">登录</span>
                            <span class="fr">还没有商城账号，<a href="{:url('AuthMember/register')}" style="color:#ff4e00;">立即注册</a></span>
                        </td>
                    </tr>
                    <tr height="70">
                        <td>昵称</td>
                        <td><input type="text" name="uName" value="" class="l_user" /></td>
                    </tr>
                    <tr height="70">
                        <td>密码</td>
                        <td><input type="password" name="uPwd" value="" class="l_pwd" /></td>
                    </tr>
                    <tr height="70">
                        <td>验证码&nbsp;&nbsp;</td>
                        <td>
                            <input type="text" value="" name="captcha" class="captcha" />
                            <img class="" src="{:captcha_src()}" id="captcha_img" onclick="refreshcaptcha();" />
                            <a id="kanbuq" href="javascript:;"onclick="refreshcaptcha();">换一张</a> 
                            <!-- /*<a href="#" style="font-size:12px; font-family:'宋体';">换一张</a>*/ -->
                      </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-size:12px; padding-top:20px;">
                            <!-- <span style="font-family:'宋体';" class="fl">
                                <label class="r_rad"><input type="checkbox" /></label><label class="r_txt">请保存我这次的登录信息</label>
                            </span> -->
                            <span class="fr"><a href="#" style="color:#ff4e00;">忘记密码</a></span>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="submit" value="登录" class="log_btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 

<script type="text/javascript">

$(function(){
    $('#loginForm').validate({
        rules: {
            uName  : 'required',
            uPwd   : {
                required : true,
                minlength: 5
            },
            captcha: 'required',
        },
        messages: {
            uName  : '请输入昵称',
            uPwd   : {
                required: '请输入密码',
                minlength:'密码不得小于5位'
            },
            captcha: '请输入验证码',
        },
        submitHandler: function(){
            var obj = decodeURIComponent($('#loginForm').serialize(), true);
            $.ajax({
                type : 'post',
                data : obj,
                dataType: 'json',
                url  : '{:url("AuthMember/login")}',
                success:function(ret){
                    if(ret.code == '1'){
                        layer.msg(ret.msg,{time:2000},function(){
                            window.location.href="{:url('Index/index')}";
                        });
                    }else{
                        layer.msg(ret.msg, {icon:2, time:2000},function(){
                            refreshcaptcha();
                        });
                        return false;
                    }
                }
            });
        }
    });
});
</script>
{/block}