{extend name="base/auth_member_main"}
{block name="body"}
<!--End Header End--> 
<!--Begin Login Begin-->
<div class="log_bg">    
    <div class="top">
        <div class="logo">
            <a href="Index.html"><img src="{$static}/images/logo.png" /></a>
        </div>
        <div class="div_show_s">
            <img src="{$static}/images/wx.jpg" width="120px" height="120px;">
        </div>
    </div>
    <div class="regist">
        <div class="log_img"><img src="{$static}/images/l_img.png" width="611" height="425" /></div>
        <div class="reg_c">
            <form id="regForm">
                <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="95">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">注册</span>
                            <span class="fr">已有商城账号，<a href="{:url('AuthMember/login')}" style="color:#ff4e00;">我要登录</a></span>
                        </td>
                    </tr>
                    <tr height="50">
                        <td align="right">
                            <font color="#ff4e00">*</font>&nbsp;用户昵称 &nbsp;
                        </td>
                         <td><input type="text" value="" name="uName" class="l_user" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;用户密码 &nbsp;</td>
                        <td><input type="password" value="" name="uPwd" id="uPwd" class="l_pwd" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                        <td><input type="password" value="" name="rePwd" id="rePwd" class="l_pwd" /></td>
                    </tr>
                    <!-- <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;用户邮箱 &nbsp;</td>
                        <td><input type="text" value="" name="uEmail" class="l_email" /></td>
                    </tr> -->
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;用户手机 &nbsp;</td>
                        <td><input type="text" value="" name="uPhone" class="l_tel" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"> <font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                        <td>
                            <input type="text" value="" name="captcha" class="captcha" />
                            <img class="" src="{:captcha_src()}" id="captcha_img" onclick="refreshcaptcha();" />
                            <a id="kanbuq" href="javascript:;"onclick="refreshcaptcha();">换一张</a> 
                            <!-- /*<a href="#" style="font-size:12px; font-family:'宋体';">换一张</a>*/ -->
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-size:12px; padding-top:20px;">
                            <span style="font-family:'宋体';" class="fl">
                                <label class="r_rad"><input type="checkbox" id="check" /></label><label class="r_txt">我已阅读并接受《用户协议》</label>
                            </span>
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="submit" value="立即注册" class="submit log_btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End--> 
</body>
<script type="text/javascript">
$(function(){
    $('#regForm').validate({
        rules: {
            uName  : 'required',
            uPwd   : {
                required : true,
                minlength: 5
            },
            rePwd   : {
                required : true,
                minlength: 5,
                equalTo  : '#uPwd'
            },
            uEmail   : {
                required : true,
                email    : true
            },
            uPhone : 'required',
            captcha: 'required',
        },
        messages: {
            uName  : '请输入昵称',
            uPwd   : {
                required: '请输入密码',
                minlength:'密码不得小于5位'
            },
            rePwd   : {
                required : '请输入确认密码',
                minlength: '密码不得小于5位',
                equalTo  : '两次密码输入不一致'
            },
            uEmail : '请输入一个正确邮箱',
            uPhone : '请输入一个手机号码',
            captcha: '请输入验证码',
        },
        submitHandler: function(){
            var bool = $('#check').prop('checked');

            if(bool){
                var obj = decodeURIComponent($('#regForm').serialize(), true);
                // console.log(obj);return false;
                $.ajax({
                    type : 'post',
                    data : obj,
                    dataType: 'json',
                    url  : '{:url("AuthMember/register")}',
                    success:function(ret){
                        if(ret.code == '1'){
                            layer.msg(ret.msg,{time:2000},function(){
                                window.location.href="{:url('AuthMember/login')}";
                            });
                        }else{
                            layer.msg(ret.msg, {icon:2, time:2000},function(){
                                refreshcaptcha();
                            });
                            return false;
                        }
                    }
                });
            }else{
                layer.msg('请同意用户协议',{icon:2, time:2000});
                return false;
            }
        }
    });
});
</script>
{/block}