{extend name="base/main" /}
{block name="body"}
<link rel="stylesheet" type="text/css" href="{$static}/css/pagination.css" />
<script type="text/javascript" src="__PUBLIC__/plugins/laydate/laydate.js"></script>

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 
    首页 <span class="c-gray en">&gt;</span>用户中心<span class="c-gray en">&gt;</span> 
    用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <!--<form class="Huiform">-->
            <!--<input type="text" class="input-text" style="width:250px" placeholder="商品名称" id="" name="userPhone">-->
            <!--<button class="btn btn-success" id="subSearch" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>-->
        <!--</form>-->
        <form class="Huiform">
            <input type="text" onfocus="" id="" name="dateMin" class="input-text dateMin" style="width:120px;">
             -
            <input type="text" onfocus="" id="" name="dateMax" class="input-text dateMax" style="width:120px;">
            <input type="text" class="input-text" style="width:250px" placeholder="输入会员手机号" id="username" name="username">
            <button class="btn btn-success" id="subSearch"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="{:url('Member/memberList')}" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe667;</i> 全部显示
            </a> 
            <a href="{:url('Member/memberList',['user_type'=>3])}" id="showUser" class="btn btn-primary radius">
                普通用户
            </a>
            <a href="{:url('Member/memberList',['user_type'=>1])}"  class="btn btn-primary radius">
                管理员
            </a>
        </span> 
        <span class="r">共有数据：<strong>88</strong> 条</span>
    </div>
    <!-- <div class="mt-20"> -->
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
            <tr class="text-c">
                <!-- <th width="25"><input type="checkbox" name="" value=""></th> -->
                <th width="">ID</th>
                <th width="">用户名</th>
                <th width="">昵称</th>
                <th width="">启用/禁用</th>
                <th width="">是否删除</th>
                <th width="">登陆次数</th>
                <th width="">最后登录时间</th>
                <th width="">注册时间</th>
                <th width="">修改时间</th>
                <th width="">黑名单用户</th>
                <th width="">用户类型</th>
            </tr>
        </thead>
        <tbody>
            {if condition="(!empty($list))"}
                {foreach name="list" item="v"}
                <tr class="text-c">
                    <td>{$v.uid}</td>
                    <td>{$v.username}</td>
                    <td>{$v.nickname}</td>
                    <td>
                        {if condition="($v.status eq 1)"}启用{else /}禁用{/if}
                    </td>
                    <td>
                        {if condition="($v.is_remove eq 1)"}未删除{else /}已删除{/if}
                    </td>
                    <td>{$v.login_count}</td>
                    <td>{$v.last_login_time|date="Y-m-d H:i:s",###}</td>
                    <td>{$v.ctime|date="Y-m-d H:i:s",###}</td>
                    <td>
                        {if condition="!empty($v.utime)"}
                        {$v.utime|date="Y-m-d H:i:s",###}
                        {else /}
                        未修改
                        {/if}
                    </td>
                    <td>
                        {if condition="($v.is_black eq 1)"}不是{else /}是{/if}
                    </td>
                    <td>
                        {if condition="($v.user_type eq 1)"}管理员
                        {elseif condition="($v.user_type eq 2)"}商家
                        {else /}普通用户
                        {/if}
                    </td>
                </tr>
                {/foreach}
                {else /}
                <tr class="text-c">
                    <td colspan="11">没有此用户</td>
                </tr>
            {/if}
        </tbody>
    </table>
    {if condition="(empty($list))"}{else /}{$list->render()}{/if}
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{$static}/h_ui/lib/layer/2.4/layer.js"></script>


<script type="text/javascript">
    /**
     * 初始化laydate
     * @type {String}
     */
    laydate.render({ 
        elem: '.datemin',
        //,type: 'date' //默认，可不填
    });
    laydate.render({ 
        elem: '.datemax',
        //,type: 'date' //默认，可不填
    });

    /**
     * 显示普通用户或者管理员
     * @return {[type]} [description]
     */
    function showUser(type){
        $.ajax({
            type: 'post',
            data: {'type': type},
            dataType: 'json',
            url: '{:url("Member/memberList")}'
        });
    }
    
    $('#subSearch').click(function () {
        var dateMin  = $('#dateMin').val();
        var dateMax  = $('#dateMax').val();
        var  userName = $('input[name="username"]').val();
        $.ajax({
            type: 'post',
            data: {dateMin: dateMin, dateMax: dateMax, userName: userName},
            dataType: 'json',
            url:  '{:url("Member/memberList")}'
        });
    });
</script> 
{/block}
