{extend name="base/main"}
{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 菜单管理
    <span class="c-gray en">&gt;</span> 编辑菜单
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form">
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1"><span class="c-red">*</span>菜单名称</label>
            <div class="formControls col-xs-3 col-sm-3">
                <input type="hidden" name="ids" value="{$list.id}">
                <input type="text" class="input-text" value="{$list.title}" id="menuName" name="menuName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1"><span class="c-red">*</span>菜单Url</label>
            <div class="formControls col-xs-3 col-sm-3">
                <input type="text" class="input-text" value="{$list.url}" id="menuUrl" name="menuUrl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1"><span class="c-red">*</span>菜单排序</label>
            <div class="formControls col-xs-3 col-sm-3">
                <input type="text" class="input-text" value="{$list.sort}" placeholder="默认 0" name="menuSort" id="menuSort">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-1">上级菜单</label>
            <div class="formControls col-xs-3 col-sm-3"> 
                <span class="select-box">
                    <select class="select" name="menuUp" size="1" id="menuUp">
                        <option value="" selected="">无</option>
                        {volist name="allMenu" id="menu"}
                            {if condition="($list.pid eq $menu.id)"}
                            <option value="{$menu.id}" selected="">{$menu.title_show}</option>
                            {else /}
                            <option value="{$menu.id}">{$menu.title_show}</option>
                            {/if}
                        {/volist}
                    </select>
                </span> 
            </div>
        </div>
        <div class="row cl">
            <label for="menuShow" class="form-label col-xs-2 col-sm-1">是否显示</label>
            <div class="formControls col-xs-3 col-sm-3">
                {if condition="($list.hide eq 1)"}
                <input id="menuShow" name="menuShow" type="checkbox" checked="">
                {else /}
                <input id="menuShow" name="menuShow" type="checkbox">
                {/if}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-offset-2 col-sm-offset-2">
                <input id="sub" class="btn btn-primary radius" type="submit" value="提交">
                <input class="btn btn-default radius" type="reset" value="重置">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->

<script type="text/javascript" src="{$static}/h_ui/lib/layer/2.4/layer.js"></script>  
<script type="text/javascript" src="{$static}/h_ui/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="{$static}/h_ui/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="{$static}/h_ui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="{$static}/h_ui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="{$static}/js/formToJson.js"></script>
<script type="text/javascript">
$(function(){
    // form验证
    $("#form").validate({
        rules:{
            menuName:{
                required:true,
                minlength:2,
                maxlength:16
            },
            menuUrl:{
                required:true,
            }
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            var data = decodeURIComponent($(form).serialize(), true);
            data = DataDeal.formToJson(data);
            var res = $('#menuShow').prop('checked');
            var obj = JSON.parse(data);
            if(!res){
                obj.menuShow = "0";
            }else{
                obj.menuShow = "1";
            }
            $(form).ajaxSubmit({
                type     : 'post',
                data     : obj,
                dataType : 'json',
                url      : '{:url("Menu/menuEdit")}',
                success: function(ret){
                    if(ret.code == 1){
                        layer.msg(ret.msg, {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            history.back();
                            location.reload();
                        }); 
                    }else{
                        layer.msg(ret.msg, {
                            icon: 2,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            return false;
                        }); 
                    }
                },
                error: function(XmlHttpRequest, textStatus, errorThrown){
                    layer.msg('error!',{icon:1,time:1000});
                }
            });
            var index = parent.layer.getFrameIndex(window.name);
            parent.$('.btn-refresh').click();
            parent.layer.close(index);
        }
    });
});

</script> 
<!--/请在上方写此页面业务相关的脚本-->

{/block}

